/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============================================
         website resets
================================================*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: none;
}

/*=============================================
       root, html, body, and general styles
================================================*/
:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --main-color: #784cfb;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #f6f7fb;
}

html,
body,
.footer-links,
.copyright,
.links ul {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    letter-spacing: 1px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.grid-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.text {
    font-size: 1.25rem;
    color: var(--dark-two);
    line-height: 1.6;
    letter-spacing: 1px;
}

.column-1 {
    margin-right: 1.5rem;
}

.column-2 {
    margin-left: 1.5rem;
}

.image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.z-index {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.overlay .shape {
    width: initial;
    opacity: 0.13;
    position: absolute;
}

.overlay.overlay-lg .shape {
    height: 55px;
}

.overlay.overlay-lg .shape.wave {
    height: initial;
    width: 88px;
}

.overlay.overlay-lg .shape.xshape {
    height: 38px;
}

.overlay.overlay-sm .shape {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    opacity: 0.15;
    height: 40px;
}

.overlay.overlay-sm .shape.wave {
    height: initial;
    width: 70px;
}

.overlay.overlay-sm .shape.xshape {
    height: 30px;
}

.points {
    opacity: 0.3;
    position: absolute;
}

.section {
    padding: 7rem 0;
    overflow: hidden;
}

.section-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-header .text {
    max-width: 600px;
    margin: 0 auto;
}

.title-sm {
    color: var(--dark-one);
    font-weight: 600;
    font-size: 1.6rem;
}

.points-sq {
    width: 210px;
}

.btn {
    display: inline-block;
    padding: 0.85rem 2rem;
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: hsl(255, 80%, 50%);
}

.btn.small {
    padding: 0.7rem 1.8rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

/*=============================================
         header section
================================================*/

header {
    width: 100%;
    background-color: var(--light-three);
    overflow: hidden;
    position: relative;
}


nav {
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 50;
}

.nav-container {
    /* position:sticky; */
    background-color: var(--light-one);
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.25);
}

nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 6rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--dark-one);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.links a.active {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.9rem 2.1rem;
    margin-left: 1em;
}

.links a:hover {
    color: var(--main-color);
}

.links a.active:hover {
    color: var(--light-one);
    background-color: hsl(255, 80%, 50%);
}

i.fas.fa-phone-alt {
    margin-right: 0.333rem;
}

.hamburger-menu {
    width: 2.7rem;
    height: 3rem;
    z-index: 100;
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hamburger-menu .bar {
    position: relative;
    width: 2.1rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--dark-one);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.bar:before,
.bar:after {
    content: '';
    position: absolute;
    width: 2.1rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--dark-one);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.bar:before {
    -webkit-transform: translateY(-9px);
    transform: translateY(-9px);
}

.bar:after {
    -webkit-transform: translateY(9px);
    transform: translateY(9px);
}

nav.open .hamburger-menu .bar {
    background-color: transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

nav.open .hamburger-menu .bar:before {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background-color: var(--light-one);
}

nav.open .hamburger-menu .bar:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
    background-color: var(--light-one);
}

nav.open .links {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


.header-content .container.grid-2 {
    -ms-grid-columns: 2.5fr 3.5fr;
    grid-template-columns: 2.5fr 3.5fr;
    -ms-grid-columns: 2.75fr 3.25fr;
    grid-template-columns: 2.75fr 3.25fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    /* margin-top: 4rem; */
    text-align: left;
}

.header-title {
    font-size: 3.8rem;
    line-height: 0.5;
    letter-spacing: .25px;
    color: var(--dark-one);
}

.subheader-title {
    font-size: 2rem;
    line-height: 0.6;
    letter-spacing: .5px;
}

.header-content .text {
    margin: 2em 0;
}

.header-content .image .img-element {
    max-width: 750px;
}

header .points1 {
    width: 420px;
    bottom: -75px;
    left: -150px;
}

header .points2 {
    width: 70%;
    top: 65%;
    left: 71%;
}

header .square {
    right: 68%;
    top: 71%;
}

header .triangle {
    right: 7%;
    bottom: 75%;
}

header .xshape {
    right: 4%;
    bottom: 50%;
}

header .half-circle1 {
    left: 50%;
    bottom: 82%;
}

header .half-circle2 {
    left: 5%;
    top: 67%;
}

header .wave1 {
    bottom: 75%;
    left: 20%;
}

header .wave2 {
    bottom: 8%;
    right: 55%;
}

header .circle {
    left: 38%;
    bottom: 63%;
}

.letters {
    position: absolute;
    width: 13.5%;
    top: -5px;
    left: 15px;
    opacity: 0.06;
}

/*=============================================
          services section
================================================*/

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap {
    position: relative;
    margin: 1.7rem 0.8rem;
}

.card {
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 520px;
    background-color: var(--light-three);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card:before {
    content: attr(data-card);
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 6rem;
    font-weight: 800;
    line-height: 1;
    color: var(--main-color);
    opacity: 0.055;
}

.card:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.card-wrap:hover .card {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.card-wrap:hover .card:after {
    height: 8px;
}

.icon {
    width: 90px;
    margin-bottom: 1.7rem;
}

.card .title-sm {
    line-height: 0.8;
}

.card .text {
    font-size: 1.15rem;
    margin: 1.8rem 0;
}

.services .points1 {
    bottom: -50px;
    left: -125px;
    opacity: 0.2;
    pointer-events: none;
}

.services .points2 {
    bottom: -70px;
    right: -65px;
    opacity: 0.2;
    pointer-events: none;
}

/*=============================================
          records section
================================================*/

.records {
    position: relative;
    background-color: var(--main-color);
    padding: 5.2rem 0;
}

.records .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.record-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid var(--light-one);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: var(--light-one);
}

.record-circle.active {
    background-color: var(--light-one);
    color: var(--dark-one);
    -webkit-box-shadow: 0 0 0 15px rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 0 15px rgb(255, 255, 255, 0.5);
}

.number {
    font-weight: 400;
    font-size: 2.35rem;
    letter-spacing: 0.5px;
}

.sub-title {
    font-weight: 400;
    font-size: 1.12rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.records .square1 {
    left: 8%;
    top: 10%;
}

.records .square2 {
    right: 90px;
    bottom: 70px;
}

.records .xshape {
    top: 45px;
    right: 120px;
}

.records .circle {
    left: 7%;
    bottom: 50px;
}

.records .triangle {
    left: 65%;
    bottom: 35px;
}

.records .wave1 {
    top: 35px;
    right: 30%;
}

.records .wave2 {
    bottom: 40px;
    left: 28%;
}

.records .half-circle {
    top: 30px;
    right: 50%;
}

/*=============================================
          about section
================================================*/

.about {
    overflow: hidden;
}

.about img {
    max-width: 600px;
}

.about .text {
    margin-top: 1rem;
}

.skills {
    margin: 1.5rem 0 2.5rem 0;
}

.skill {
    margin: 1rem 0;
}

.skill-title {
    color: #555;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.skill-bar {
    width: 70%;
    height: 8px;
    border-radius: 4px;
    background-color: #ece6fa;
    position: relative;
    overflow: hidden;
}

.skill-progress {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.about .column-1 {
    position: relative;
}

.about .column-1:before {
    content: 'About';
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    color: var(--main-color);
    opacity: 0.04;
    top: 20px;
    left: 0;
    line-height: 0;
}

.about .points {
    width: 300px;
    top: 65%;
    left: 80%;
    opacity: 0.1;
}

/*=============================================
          portfolio section
================================================*/

.portfolio {
    position: relative;
    width: 100%;
    background-color: var(--light-two);
}

.background-bg {
    position: absolute;
    width: 100%;
    height: 520px;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

.portfolio .title,
.portfolio .title:before {
    color: var(--light-one);
}

.portfolio .title:after {
    background-color: var(--light-one);
}

.filter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filter-btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0.45rem 0.4rem;
    padding: 0.85rem 1.8rem;
    color: var(--light-one);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 2rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.filter-btn.active {
    background-color: var(--light-one);
    color: var(--main-color);
}

.portfolio .square {
    top: 28%;
    left: 20%;
}

.portfolio .circle {
    top: 8%;
    right: 35%;
}

.portfolio .triangle {
    bottom: 10%;
    right: 4%;
}

.portfolio .half-circle1 {
    bottom: 13%;
    left: 5%;
}

.portfolio .half-circle2 {
    top: 35%;
    right: 20%;
}

.portfolio .xshape {
    top: 10%;
    right: 8%;
}

.portfolio .wave {
    top: 38%;
    left: 6%;
}

.grid {
    width: 100%;
    margin: 1.5rem 0;
}

.grid-item {
    width: 33.33%;
    padding: 1rem 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.gallery-image {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    height: 330px;
    width: 100%;
    cursor: pointer;
}

.gallery-image img {
    position: absolute;
    height: 115%;
    width: initial;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.gallery-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    color: var(--light-one);
    background-color: rgba(120, 76, 251, 0.55);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 2rem 3.2rem;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.img-overlay .plus {
    position: relative;
    margin: auto 0;
}

.plus:before,
.plus:after {
    content: '';
    position: absolute;
    width: 4.5rem;
    height: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--light-one);
    border-radius: 3px;
}

.plus:before {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
}

.img-description {
    width: 100%;
}

.img-overlay h3 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.img-overlay h5 {
    font-size: 1.15rem;
    font-weight: 300;
}

.gallery-image:hover .img-overlay {
    opacity: 1;
}

.gallery-image:hover img {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

.more-folio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*=============================================
          testimonials section
================================================*/

.testimonials {
    background-color: var(--light-two);
    overflow: hidden;
}

.testi-content {
    margin-top: 6rem;
}

.reviews {
    overflow: hidden;
}

.review {
    position: relative;
    padding: 2rem 1.5rem;
}

.quote {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--main-color);
    opacity: 0.04;
    font-size: 8rem;
}

.rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    color: #ebc000;
    margin-bottom: 1.5rem;
}

.rate i {
    margin-right: 0.3rem;
}

.review-text {
    font-size: 1.35rem;
    font-weight: 300;
    color: #444;
    line-height: 1.7;
}

.review-info {
    margin-top: 2rem;
}

.review-name {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark-one);
}

.review-job {
    font-size: 1.15rem;
    font-weight: 300;
    color: #777;
}

.review-nav {
    bottom: 2.2rem;
    bottom: -5rem;
    bottom: -3rem;
    right: 25rem;
    top: initial;
    font-size: 1.8rem;
    color: var(--main-color);
}

.swiper-button-next {
    right: 2rem;
    right: 25rem;
    right: 27.5rem;
    right: 30%;
    left: initial;
}

.swiper-button-prev {
    right: 4.5rem;
    right: 27.5rem;
    right: 25rem;
    right: 26%;
    left: initial;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    display: none;
}

/*=============================================
          blog section
================================================*/

.blog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.blog-wrap {
    position: relative;
    margin: 1.3rem 0.5rem;
}

.blog-card {
    max-width: 420px;
    width: 100%;
    overflow: hidden;
    background-color: var(--light-two);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.blog-card:after {
    content: '';
    position: absolute;
    width: 1100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.blog-image {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
}

.blog-image img {
    position: absolute;
    height: 105%;
    width: initial;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.blog-card:hover {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
}

.blog-card:hover:after {
    height: 8px;
}

.blog-card:hover .blog-image img {
    -webkit-transform: translate(-50%, -50%) scale(1.15);
    transform: translate(-50%, -50%) scale(1.15);
}

.blog-content {
    padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}

.blog-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.blog-info h5 {
    color: var(--main-color);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.05rem;
    letter-spacing: 2px;
}

.blog-date {
    margin-right: 2rem;
}

.blog-user i {
    margin-right: 0.2rem;
    font-size: 1rem;
}

.blog-text {
    margin: 0.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

.blog .points {
    top: 72%;
    right: 71%;
    opacity: 0.15;
}

/*=============================================
          contact section
================================================*/

.contact {
    position: relative;
    width: 100%;
    padding: 13.5rem 0 8.5rem;
}

.contact:before,
.contact:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
}

.contact:before {
    top: 0;
    height: 40%;
    background: url('../img/map.png') center center / cover;
}

.contact:after {
    top: 40%;
    height: 60%;
    background: url('../img/contact-bg.png') center bottom / cover;
}

.contact-box {
    width: 100%;
    background-color: var(--light-one);
    width: 100%;
    border-radius: 45px;
    padding: 5.5rem 4.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.contact-info {
    padding-right: 2rem;
}

.contact-form {
    padding-left: 2rem;
}

.contact-info .title:after {
    left: 0;
    -webkit-transform: initial;
    transform: initial;
}

.information-wrap {
    margin-top: 2rem;
}

.information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.information:not(:last-child) {
    margin-bottom: 1.3rem;
}

.contact-icon {
    min-width: 67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--light-one);
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.contact-icon i {
    line-height: 67px;
}

.info-text {
    font-size: 1.3rem;
    display: inline-block;
}

.contact-form .title:after {
    display: none;
}

.contact-form .title {
    margin: 0;
}

.contact-form .row {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: 0.6rem;
}

.contact-input {
    padding: 1.2rem 2.1rem;
    margin: 0.6rem 0;
    border: none;
    outline: none;
    background: #f3f3f3;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.contact-input::-webkit-input-placeholder {
    font-weight: 400;
}

.contact-input::-moz-placeholder {
    font-weight: 400;
}

.contact-input:-ms-input-placeholder {
    font-weight: 400;
}

.contact-input::-ms-input-placeholder {
    font-weight: 400;
}

.contact-input::placeholder {
    font-weight: 400;
}

.contact-input.textarea {
    resize: none;
    min-height: 280px;
    border-radius: 2rem;
}

.contact-input:hover {
    background: #ececec;
}

.contact-input:focus {
    background: #eaeaea;
}

.contact-input .btn {
    margin-top: 0.6rem;
}

/*=============================================
          hire me section
================================================*/

.hireme {
    padding: 12rem 0;
}

.hireme .container {
    text-align: center;
}

.hireme .title {
    margin-bottom: 1.3rem;
}

.hireme .text {
    max-width: 1000px;
    margin: 0 auto 1.6rem auto;
}

/*=============================================
          footer section
================================================*/

.footer {
    background-color: #222;
    padding: 6rem 0;
}

.footer .grid-4 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3.5fr 2fr 2fr 3fr;
    grid-template-columns: 3.5fr 2fr 2fr 3fr;
}

.grid-4-col {
    padding: 0 1.7rem;
}

.footer .title-sm {
    color: #fafafa;
    margin-bottom: 0.9rem;
}

.footer .text {
    color: #aaa;
}

.footer-links a {
    color: #888;
    font-size: 1.25rem;
    display: inline-block;
    margin-bottom: 0.4rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--main-color);
}

.footer-input-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50px;
    grid-template-columns: auto 50px;
    -ms-grid-columns: auto 80px;
    grid-template-columns: auto 80px;

    width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 1.2rem;
}

.footer-input {
    background: #373737;
    color: #333333;
    outline: none;
    border: none;
    padding: 0 1.5rem;
    font-size: 1.1rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.input-arrow {
    color: #fff;
    background-color: var(--main-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.45rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.input-arrow:hover {
    background-color: #6b44e0;
}

.focus {
    background: #fff;
}

.bottom-footer {
    margin-top: 5.5rem;
    padding: 0 1.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.copyright .text {
    color: #7b7b7b;
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
}

.copyright .text span {
    color: var(--main-color);
    cursor: pointer;
}

.followme-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.followme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.followme h3 {
    color: #7b7b7b;
    font-weight: 500;
    font-size: 1.3rem;
}

.followme .footer-line {
    width: 60px;
    height: 2px;
    background-color: #7b7b7b;
    margin: 0 1.2rem;
    display: inline-block;
}

.social-media a {
    color: #7b7b7b;
    font-size: 1.5rem;
    margin-right: 0.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.social-media a:hover {
    color: var(--main-color);
}

.back-btn-wrap {
    position: relative;
    margin-left: 2.5rem;
}

.back-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.back-btn:hover {
    background-color: #6b44e0;
}

.back-btn-wrap:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
    border-radius: 50%;
    opacity: 0.08;
    -webkit-animation: scale 1.2s ease-out infinite 1s;
    animation: scale 1.2s ease-out infinite 1s;
}

/*=============================================
          keyframes
================================================*/

@-webkit-keyframes scale {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.15;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1.6);
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.15;
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1.6);
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}
